
/* *********************************************************************************
General
****************************************************************************** */
.wrap {
      width: 90%;
      max-width: 1100px;
      margin: 0 auto;
}






/* *********************************************************************************
NAV
****************************************************************************** */







/* *********************************************************************************
Hero
****************************************************************************** */
.hero {
      background-color: rgb(141, 151, 152);
      padding-top: 80px;


}




/* *********************************************************************************
MAIN
****************************************************************************** */




/* *********************************************************************************
Footer
****************************************************************************** */
